<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziumks.boot.mapper.BootMapper">
	<select id="adminList" resultType="com.ziumks.boot.domain.Admin">
		select * from boot
	</select>
<!-- 	<insert id="insertAdmin">
		insert into admin_user values(#{user_seq}, #{user_id}, #{user_pwd}, #{user_name})
	</insert>
	<update id="updateAdmin">
		update admin_user set user_id=#{user_id}, user_pwd=#{user_pwd}, user_name=#{user_name} where user_seq=#{user_seq}
	</update>
	<select id="readAdmin" parameterType="int" resultType="com.ziumks.Ex01.domain.Admin">
		select * from admin_user where user_seq =#{user_seq}	
	</select>
	<delete id="deleteAdmin">
		delete from admin_user where user_seq =#{user_seq}
	</delete>
	 -->	 
</mapper>
	